body{
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.form{
    background-color: white;
    border-radius: 5px;
    width: 550px;
    margin: 20px auto;
    padding: 20px;
    /* height: 600px; */
}

.navbar {
    background-color: black;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list {
    display: flex;
    font-size: 20px;
    list-style-type: none;
    padding: 0;
    
}


.home {
    text-decoration: none;
    color: white;
    display: flex;
}

.home:link {
    text-decoration: none;
    color: red;
}
.home:visited {
    text-decoration: none;
    color: white;
}
.home:hover {
    text-decoration: none;
    color: hotpink;
}
.home:active {
    text-decoration: none;
    color: blue;
}

#forHome {
    
    font-size: xx-large;
}

#forForm {
    
   margin-top: 33px;
}


h1{
    color: white;
    text-align: center;
}

.form-body{
    text-align: left;
    padding: 20px 10px;
}

.form-body > *{
    padding: 5px;
}

.form__label{
    width: 40%;
    text-align: right;
    clear: both;
    float:left;
    margin-right:15px;
}

.form__input{
    width: 40%;
    display:flex;
    justify-content:center;
    align-items:center;
   
}

.footer{
    text-align: center;
}

a{
    margin: 25px;
}

img {
    border-radius: 8px;
    width: 500px;
    margin-left: 50px;
    margin-top: 50px;
}